<div align="center">
    <button class="btn btn-success "><a routerLink="getpatid"> Save Id </a></button>
    <button class="btn btn-success "><a routerLink="appointment"> Book Appointment </a></button>
    <button class="btn btn-success "><a routerLink="viewdoc"> View Doctor </a></button>
    <button class="btn btn-success "><a routerLink="savepat"> Save Patient </a></button>
    <button class="btn btn-success " (click)="logout"><a routerLink=" "> Logout </a></button>
          <router-outlet></router-outlet>
  </div>